.taskDetails {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 0px;
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
    row-gap: 20px;
    padding: 20px;
}

.closeButton {
    display: flex;
    justify-content: flex-end;
}

.textAreaLabel {
    font-size: 25px;
    font-weight: 700;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.task {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.taskTextArea {
    width: 390px;
    height: 100px;
    outline: none;
    background-color: inherit;
    resize: none;
    border-style: 1.5px solid rgb(210, 210, 210);
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    overflow: hidden;
}

.descriptionTextArea {
    width: 390px;
    height: 150px;
    padding: 10px;
    outline: none;
    resize: none;
    border-style: 1.5px solid rgb(210, 210, 210);
    background-color: inherit;
    border-radius: 5px;
    font-size: 20px;
    overflow: hidden;
}

.dropDown {
    background-color: inherit;
    font-size: 18px;
    width: 130px;
    height: 40px;
    padding: 5px;
    outline: none;
    border: 1.5px solid black;
    border-radius: 5px;
}

.list {
    display: flex;
    align-items: center;
    font-size: 22.5px;
}

.listLabel {
    width: 120px;
    font-weight: 700;
}

.dueDate {
    font-size: 22.5px;
    display: flex;
    align-items: center;
}

.dateInput {
    background-color: inherit;
    height: 30px;
    width: 150px;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    border: 1.5px solid black;
    border-radius: 5px;
}

.dateLabel {
    width: 120px;
    font-weight: 700;
}

.container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.buttons {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    column-gap: 30px;
}

.deleteTaskButton {
    height: 50px;
    background-color: tomato;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    color: white;
}

.saveChangesButton {
    height: 50px;
    background-color: #00A86B;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    color: white;
}
